/* headings.css */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-regular, 400);
  color: var(--color-header-secondary, #000000);
  font-family: Connections, Calibri, sans-serif;
  margin: 0;
  padding: 0;
}

h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
  font-weight: var(--font-weight-bold, 700);
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  font-weight: var(--font-weight-light, 300);
}

h1.regular, h2.regular, h3.regular, h4.regular, h5.regular, h6.regular {
  font-weight: var(--font-weight-regular, 400);
}

h1.heading-color-primary,
h2.heading-color-primary,
h3.heading-color-primary,
h4.heading-color-primary,
h5.heading-color-primary,
h6.heading-color-primary {
  color: var(--color-header, #012169);
}

h1.heading-color-secondary,
h2.heading-color-secondary,
h3.heading-color-secondary,
h4.heading-color-secondary,
h5.heading-color-secondary,
h6.heading-color-secondary {
  color: var(--color-header-secondary, #000000);
}

h1.heading-color-Grey,
h2.heading-color-Grey,
h3.heading-color-Grey,
h4.heading-color-Grey,
h5.heading-color-Grey,
h6.heading-color-Grey {
  color: var(--color-gray-600, #757575);
}

h1.heading-color-Gray,
h2.heading-color-Gray,
h3.heading-color-Gray,
h4.heading-color-Gray,
h5.heading-color-Gray,
h6.heading-color-Gray {
  color: var(--color-gray-600, #757575);
}

h1.font-family-Connections-light,
h2.font-family-Connections-light,
h3.font-family-Connections-light,
h4.font-family-Connections-light,
h5.font-family-Connections-light,
h6.font-family-Connections-light {
  font-family: "Connections Light", sans-serif;
}

h1 {
  font-size: 56px;
  line-height: 5.25rem;
}

h2 {
  font-size: 44px;
  line-height: 4.125rem;
}

h3 {
  font-size: 36px;
  line-height: 44px;
  color: var(--color-header, #012169);
}

h4 {
  font-size: 28px;
  line-height: 36px;
}

h4[data-h4-color-alt] {
  color: var(--color-header, #012169);
}

h4[data-h-subtitle] {
  font-size: 24px;
  color: var(--color-gray-600, #757575);
}

h5 {
  font-size: 20px;
  line-height: 28px;
  font-family: "Connections Medium", calibri, sans-serif;
  color: var(--color-header, #012169);
  font-weight: var(--font-weight-boldish, 500);
}

h6 {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-header, #012169);
  font-family: "Connections Medium", calibri, sans-serif;
  font-weight: var(--font-weight-boldish, 500);
}
