// https://fkhadra.github.io/react-toastify/introduction/
// https://github.com/fkhadra/react-toastify

@use './variables.scss'; //as *;
// Note: react-toastify CSS is now imported directly in main.jsx
// Custom toast styles can be added here if needed


