//only really global, non css framework items.

.hidden {
  visibility: hidden;
  display: none ;
  margin: 0;
  padding: 0;
  height: 0;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  position: "absolute";
  top: "-9999px";
  left: "-9999px";
}
.primaryText{
  color: #333 !important;
}
.no-link {
  color:inherit;
  text-decoration: none;
  padding-right: 10px;
}

// for http request spinner
.spinner {
  width: 100%;
  height:100%;
  background-color: rgba(255,255,255,0.7);
  top:0;
  left:0;
  position:fixed;
  display:block;
  opacity:0.7;
  background-color:#fff;
  z-index:99999;
  text-align:center;
  pointer-events:auto;
  cursor:wait;
}

.spinner-middle{
  display:table-cell;
  vertical-align:middle;
}

.spinner-inner{
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

#spinner-image {
  // top:50%;
  // left:50%;
  // margin: -50px 0px 0px -50px;
  z-index: 999999;
  position:absolute;
}

.noPadding {
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

p[data-block-subext]{
  color: $subtitleGray;
}



