h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $regular;
  color: $headingColorSecondary;
  font-family: Connections, Calibri, sans-serif;
  font-weight: $regular;

  margin: 0;
  padding: 0;

  &.bold {
    font-weight: $bold;
  }

  &.light {
    font-weight: $light;
  }

  &.regular {
    font-weight: $regular;
  }

  &.heading-color-primary {
    color: $headingColor;
  }

  &.heading-color-secondary {
    color: $headingColorSecondary;
  }

  &.heading-color-Grey {
    color: $subtitleGrey;
  }

  &.heading-color-Gray {
    color: $subtitleGray;
  }

  &.font-family-Connections-light {
    font-family: "Connections Light", sans-serif;
    //font-weight: normal;
  }
}

h1 {
  font-size: 56px;
  line-height: 5.25rem //150%
}

h2 {
  font-size: 44px;
  line-height: 4.125rem //150%
}

h3 {
  font-size: 36px;
  line-height: 44px; //122%
  color: $headingColor;
}

h4 {
  font-size: 28px;
  line-height: 36px; //129%
}

h4[data-h4-color-alt] {
  color: $headingColor;
}

h4[data-h-subtitle] {
  font-size: 24px;
  color: $subtitleGray;
}

h5 {
  font-size: 20px;
  line-height: 28px; //140%
  font-family: Connections Medium, calibri, sans-serif;
  color: $headingColor;
  font-weight: $boldish;
}

h6 {
  font-size: 16px;
  line-height: 24px; //150%
  color: $headingColor;
  font-family: Connections Medium, calibri, sans-serif;
  font-weight: $boldish;
}