//they changed their formatting

// https://fkhadra.github.io/react-toastify/introduction/
// https://github.com/fkhadra/react-toastify

/*
pull from here, change and add !default;
node_modules\react-toastify\scss\_variables.scss
*/

:root {
  //Blue Scale
  --color-blue-50: #f0f2f7;
  --color-blue-100: #e6e9f1;
  --color-blue-200: #d8e4ed;
  --color-blue-300: #cee0ea;
  --color-blue-400: #8bace1;
  --color-blue-500: #4777d8;
  --color-blue-550: #0053c2;
  --color-blue-600: #2741a3;
  --color-blue-700: #0241ce;
  --color-blue-800: #022366;
  --color-blue-900: #0021a4c;
  --color-blue-950: #012169;
  --color-border: #8090b4;

  //Gray Scale
  --color-gray-0: #fafafa;
  --color-gray-50: #f8f8f8;
  --color-gray-100: #eeebe8;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #7a7878;
  --color-gray-800: #0100002;
  --color-gray-900: #212121;

  //core theme colors
  --color-primary: var(--color-blue-950);
  --color-primary-light: var(--color-blue-700);
  --color-white: #ffffff;
  --color-black: #000000;
  --color-off-white: var(--color-gray-0);
  --color-shaded: var(--color-gray-50);
  --color-red: #e31836;
  --color-body-background: var(--color-gray-0);

  //cobe 1.0 specific colors
  --color-cobe1-blue: #0073cf;
  --color-cobe1-black: #333333;
  --color-cobe1-gray: #9d8e80;
  --color-cobe1-light-gray: #c1c9c0;
  --color-cobe1-lightGray: #d1c9c0;
  --color-cobe1-red: #d32f2f;
  
  //background colors
  --color-background-default: var(--color-gray-300);
  --color-background-paper: var(--color-white);

  //status colors
  --color-warning: #ff9800;
  --color-error: var(--color-red);
  --color-success: #2e7d32;
  --color-info: var(--color-blue-300);

  //Useful neutrals
  --color-border:var(--color-gray-300);
  --color-muted: var(--color-gray-600);
  --color-disabled: var(--color-gray-200);

  //Text Colors
  --color-text-primary: var(--color-grey-900);
  --color-text-secondary: var(--color-gray-600);
  --color-header: var(--color-blue-950); //var(--color-blue-950);
  --color-header-secondary: var(--color-black);
  --color-link:var(--color-blue-550);
  // --color-heading-color: var(--color-black);
  // --color-header-color-secondary: var(--color-gray-700);

  //Shadows
  --shadow-fieldset: 0px 0px 12px rgba(0,0,0,.05);
  --shadow-sm: 0 1px 3px rgba(0,0,0,.05);
  --shadow-md: 0 4px 6px rgba(0,0,0,.1);
}

//============================================================
// SCSS Variables (with !default so downstream modules can override)
//============================================================

$headingColor: var(--color-header) !default;
$headingColorSecondary: var(--color-header-secondary) !default;
$blue: var(--color-blue-600) !default;
$red: var(--color-red) !default;
$white: var(--color-white) !default;
$primary: var(--color-primary) !default;
$blue300: var(--color-blue-600) !default;
$blue550: var(--color-blue-550) !default;
$link: var(--color-link) !default;
$blue600: var(--color-blue-700) !default;
$blueShade: var(--color-blue-100) !default;
$almostBlack: var(--color-gray-800) !default;
$almostGrey: var(--color-gray-700) !default;
$almostGray: var(--color-gray-700) !default;
$black: var(--color-black) !default;
$shaded: var(--color-shaded) !default;
$warning: var(--color-red) !default;
$subtitleGray: var(--color-gray-600) !default;
$subtitleGrey: var(--color-gray-600) !default;
$cobe1: var(--color-cobe1-blue) !default;
$bold: 700 !default;
$boldish: 500 !default;
$regular: 400 !default;
$light: 300 !default;

.primary {
  --color: var(--color-primary);
  color: var(--color);
}

.secondary {
  --color: var(--color-white);
  color: var(--color);
}